<!DOCTYPE html>
<html>
  <head>
    <title>Alpha Blog's About Us</title>  
  </head>
  <body>
    <h1>What Do you want to know about Alpha Blog?</h1><br/>
    <p>
    Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus<br/>
    sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. 
    Pellentesque ornare sem lacinia quam venenatis vestibulum.
    
    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, <br/>
    egestas eget quam. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Vestibulum id <br/>
    ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper.

    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl <br/>
    consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus<br/> 
    eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo <br/>
    luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.    
    </p>
    <br/>
    <%= link_to 'Home',  root_path  %>
  </body>
</html>