<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Alpha Blog</title>  
  </head>
  <body>
    <p>Welcome to the Home Page
    Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus 
    sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. 
    Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </p>
    <br/>
    <%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About',  about_path  %>
  </body>
</html>